.container {
  max-width: 1200px;
  margin: 0 auto;
}

.slider__img {
  height: 400px;
  overflow: hidden;
}

.slider__wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.slider__btn {
  max-height: 30px;
  margin-top: 100%;
  max-width: fit-content;
  padding: 10px 6px;
  background-color:aqua;
  border: none;
}

.slider__btn:hover {
  opacity: .7;
}