@font-face {
  font-family: "Minion"; 
  src: url("../fonts/MinionPro-Regular.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 
@font-face {
  font-family: "Minion-bold"; 
  src: url("../fonts/MinionPro-Bold.otf") format("truetype"); 
  font-style: bold; 
  font-weight: 800; 
} 
@font-face {
  font-family: "Minion-semibold"; 
  src: url("../fonts/MinionPro-Semibold.otf") format("truetype");  
  font-weight: 700; 
}
@font-face {
  font-family: "Minion-medium"; 
  src: url("../fonts/MinionPro-Medium.otf") format("truetype");  
  font-weight: 600; 
}

body {
  font-family: "Minion";
  box-sizing: border-box;
}

.conteiner__big {
  max-width: 1300px;
  margin: 0 auto;
}

.conteiner__small {
  max-width: 1179px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.header-logo {
  flex: 1 1 193px;
  padding: 15px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  flex: 2 1 853px;
  align-items: center;
}

.navigation__item {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.navigation__lng-wrapper {
  display: flex;
}

.navigation__lng-icon {
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 50%;
}

.header__burger-menu {
  display: none;
  padding: 0 20px;
}

.header__burger-line {
  position: relative;
  width: 30px;
  background-color: black;
  height: 1px;
  border-radius: 15px;
}

.header__burger-line::after {
  position: absolute;
  content: "";
  width: 30px;
  bottom: 6px;
  background-color: black;
  height: 1px;
  border-radius: 15px;
}

.header__burger-line::before {
  position: absolute;
  content: "";
  width: 30px;
  top: 6px;
  background-color: black;
  height: 1px;
}

.navigation__lng {
  text-transform: uppercase;
  border: none;
}

/*********** MAIN_SECTION *************/

.content__main {
  display: flex;
  justify-content: space-between;
}

.content__left-side {
  display: flex;
  width: 250px;
  padding: 0 20px 0 0 ;
  flex: 1 1 auto;
}

.left-side__title {
  text-transform: uppercase;
  padding: 30px 0 0 0 ;
}

.right-side {
  display: flex;
  flex: 1 2 auto;
}

.right-side__img {
  width: 100%;
  height: 357px;
  background: rgb(161, 161, 161) url(../img/img-layer.png);
  background-repeat: no-repeat;
  background-size: 128px;
  background-position: center 40px;
  display: flex;
  justify-content: center;
  margin: 0 0 48px 0;
}

.right-side__img-item {
  padding-top: 30px;
  width: 128px;
  height: 128px;
}

.right-side {
  max-width: 916px;
  display: flex;
  flex-wrap: wrap;
}

.text-info {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.text__paragraph {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 30px;
}

/******************* FOOTER *****************/

.footer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 30px 0 60px 0;
}

.footer-column {
  width: 19%;
  font-size: 14px;
  font-weight: 600;
}

.footer__social-medies {
  display: flex;
  justify-content: end;
  max-width: max-content;
}

.social-medies__img {
  max-width: 32px;
  max-height: 32px;
}

.footer__phone {
  position: relative;
}



.footer__phone p::before {
  content: "тел.";
  position: absolute;
  left: -30px;
}

@media screen and (max-width: 1080px) {
  .header {
    font-size: 12px;
  }

}

@media screen and (max-width: 850px) {
  .navigation {
    display: none;
  }
  .header__burger-menu {
    display: block;
  }
  .footer-column {
    font-size: 10px;
  }
}

@media screen and (max-width: 550px) {
  .content__left-side {
    justify-content: center;
  }

  .content__main {
    flex-wrap: wrap;
  }
  .footer {
    flex-direction: column;
    align-items:center;
  }
  .footer-column {
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
  }
  .footer__phone p::before {
    position: relative;
    left: 0;
  }
}