.field {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  width: fit-content;
}

button {
  height: 40px;
  font-size: 24px;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}