html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

h2, h4 {
  margin: 0;
}

body {
  max-width: 1302px;
  margin: 0 auto;
}

/* HEADER */

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  background-color: rgba(140, 10, 13, 1);
}

.header__navbar {
  display: flex;
  align-items: center;
}

.navbar__items {
  display: flex;
  padding: 0;
} 

.navbar__logo {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 95px;
  color:#FFE394;
}

.navbar__item {
  display: inline-block;
  list-style: none;
  margin-right: 32px;
  color: #FFE394;
  text-transform: uppercase;
  font-size: 14px;
}

.change-language {
  margin-left: 61px;
}

.change-language__img {
  margin-right: 11px;
}

/* MAIN BLOCK */

.main-block {
  padding-top: 25px;
  z-index: 1000;
  background: linear-gradient(rgba(245, 232, 198, .7), rgba(245, 232, 198, .7)),  url(../img/background.png)
}

.slider {
  position: relative;
  display: flex;
  width: 100%;
  height: 335px;
  background-image: url(../img/slider.jpeg);
  border: 3px solid black;
}

.slider__content {
  margin: 0 auto;
  text-align: center;
  font-size: 39px;
  font-family: 'Open Sans', sans-serif;
}

.slider__tittle {
  margin-top: 30px;
  margin-bottom: 15px;
}

.slider__button {
  font-size: 20px;
  background-color: rgba(246, 204, 121, 1);
  padding: 5px;
  border-radius: 7px;
  border-bottom: 5px solid;
  font-weight: 700;
  border-color: rgba(191, 103, 13, 1);
}

.slider__slider-navigation {
  position: absolute;
  margin-left: 15%;
  bottom: 0;
}

.arrow {
  position: absolute;
  top:50%;
  transform: translateX(-50%);
}

.slider__left-arrow {
  width: 55px;
  height: 55px;
  background-image: url(../img/left-arrow.png);
  left: 56px;
}

.slider__right-arrow {
  width: 55px;
  height: 55px;
  background-image: url(../img/right-arrow.png);
  right: 0px;
}

/* MAIN BLOCK INFORMATION*/


.information-block {
  line-height: 1.3;
  padding-top: 30px;
  justify-content: space-between;
  font-size: 15px;
}

.subtittle-block {
  display: flex;
  width: 100%;
}

.information-item {
  width: 24%;
  margin-right: 14px;
}

.paragraph-block {
  display: flex;
  width: 100%;
}

/* FOOTER */

footer {
  background-color: rgba(140, 10, 13, 1);
  height: 72px;
}

.footer-items {
  display: flex;
  color: #FFE394;
  line-height: 2;
}

.information__footer-item {
  font-size: 14px;
  margin-right: 71px;
  padding: 12px 16px 16px 0px;
  width: 30%;
}

.information__footer-item:nth-child(3) {
  margin-left: 12px;
}

.information__footer-item:nth-child(4) {
  margin-right: 0px;
}

.social-medies {
  width: 10%;
  padding: 16px 16px 0px 0px;
}

.phone-item {
  padding: 0;
  margin-top: 2px;
  margin-left: 29px;
}




