body {
  display: flex;
  justify-content: center;
  background-color: rgb(219, 231, 227);
  font-family: 'Merriweather', serif;
}

.all-currency {
  width: 600px;
}

.currency-element {
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
  padding: 20px 40px;
}

.currency-element:hover {
  background-color: rgb(122, 129, 127);
  transition: all .5s;
}

.currency-name {
  font-size: 20px;
  font-weight: 800;
  color:rgb(30, 20, 90)
}

.currency-rate {
  font-weight: 700;
  font-size: 25;
  color: brown;
}
