
body {
  background-color: grey;
}

.container {
  max-width: 680px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.form-wrapper {
  position: relative;
  height: 500px;
  border-radius: 20px;
  padding: 50px 40px 10px 40px;
  max-width: 400px;
  display: block;
  background-color: beige;
}

.form__input-information {
  display: block;
}

.form__title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.input-item {
  width: 100%;
  margin: 25px 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid gray;
  padding: 4px 4px;
}

.input-item__button {
  background: linear-gradient(to right, rgb(5, 205, 255), rgb(193, 4, 250));
  padding: 8px 0 8px 0;
  border-radius: 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.input-item__button:hover {
  background: linear-gradient(to right, rgb(193, 4, 250), rgb(5, 205, 255));
  transition: all 1s;
}

.form__bottom-text {
  position: absolute;
  bottom: 20px;
  font-size: .9rem;
  color: gray;
}

.from__register-link {
  text-decoration: none;
  color: black;
}