:root {
  --back-color: rgba(0, 0, 0, 0.7098039215686275);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: green;
  transition: all .4s;
}

.header {
  background-image: url(../img/bitcoin-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
}

.header-logo {
  width: 120px;
  height: 90px;
}

.header-logo {
  width: 170px;
}

.header-logo__img {
  width: 100px;
}

.header-nav {
  background-color: var(--back-color);
  color: white;
}

.title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form__wrapper {
  height: 100%;
  padding: 0 20px 0 20px ;
}

.header-form {
  background-color: var(--back-color);
  padding: 50px 60px 19px;
  width: 400px;
  margin: 100px 0 90px 0;
}

.header__burger-menu {
  display: none;
}

.header__burger-line {
  position: relative;
  width: 30px;
  background-color: white;
  height: 1px;
  border-radius: 15px;
}

.header__burger-line::after {
  position: absolute;
  content: "";
  width: 30px;
  bottom: 6px;
  background-color: white;
  height: 1px;
  border-radius: 15px;
}

.header__burger-line::before {
  position: absolute;
  content: "";
  width: 30px;
  top: 6px;
  background-color: white;
  height: 1px;
}

.form-control {
  border: none;
  background-color: transparent !important;
  border-bottom: 1px solid white;
  text-align: center;
  border-radius: 0;
}

.about-us__title {
  text-align: center;
  margin: 50px 0 50px 0;
  font-size: 48px;
  color: black;
}

.about-us__more {
  font-size: 24px;
  border: none;
  background-color: transparent;
  color: green;
  width: 20px;
  padding: 0;
}

.about-us__left-side {
  font-size: 22px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background {
  background: rgba(1, 15, 1, 0.4) url(../img/world.png);
}

.service__descr {
  font-size: 25px;
  line-height: 29px;
  color: white;
  margin: 20px 0;
  width: 300px;
  text-align: center;
}

footer {
  background: rgba(0, 0, 0, 1);
}

.footer__logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: white;

}

.footer__logo img {
  margin: 0 15px;
}

.footer__social-img {
  width: 57px;
  height: 26px;
  margin: 0 30px 0 0 ;
}

.footer__right {
  color: white;
}

@media screen and (max-width: 1080px) {
  .title {
    font-size: 15px;
  }
  .header-nav {
    font-size: 12px;
  }
}

@media screen and (max-width: 900px) {
  .header-nav__item {
    display: none;
  }
  .header__burger-menu {
    display: flex;
  }

  .social-items {
    display: none;
  }
}


@media screen and (max-width: 430px) {
  .header-form {
    width: 400px;
  }
  .footer__menu-items {
    text-align: center !important;
  }
  .footer__left {
    padding-left: 110px;
  }
}

@media screen and (max-width: 370px) {
  .header__burger-menu {
    display: flex;
    width: 60px;
  }
}