.btn {
  padding: 10px 36px;
  width: 150px;
  background-color: aquamarine;
  position: absolute;
  left: 50%;
  right: 50%;
  transition: all .7s;
}

.left {
  left: 10% !important;
  transition: all .7s;
}

.wrapper {
  display: flex;
  justify-content: center;
}

