.header {
  display: flex;
  justify-content: center;
  padding: 25px 10px;
}

.header-nav {
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.header-item {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 146, 146);
}