.start-button__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.start-button {
  padding: 10px 30px;
  background-color: rgb(145, 240, 200);
  border: none;
  width: fit-content;
  margin-bottom: 50px;
}

.start-button:hover {
  opacity: .7;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.circle {
  border-radius: 100%;
  border-color: rgb(0, 0, 0);
  border: solid 1px;
  margin: 10px;
}

.circle-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}