html, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

:root {
  --back-color: rgb(242, 242, 242);
  --text-color: rgb(185, 164, 65);
  --text-active: rgb(105, 105, 3);
  --title-text: rgb(83, 22, 3);
  --decoration-color: rgb(203, 221, 231);
  font-family:Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
}

.wrapper {
  width: 720px;
  margin: 0 auto;
  background-color: var(--back-color);
  margin-top: 0;
  padding: 20px 30px 5px 20px;
}

.title {
  position: relative;
  font-size: 1.5rem;
  margin-bottom: 40px;
  color: var(--title-text);
  width: 100%;
  font-weight: 500;
}

.title::after {
  content: 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa';
  color: transparent;
  position: absolute;
  top: 20px;
  left: 0px;
  text-decoration-line: underline;
  text-decoration-style:wavy;
  text-decoration-color: var(--decoration-color);
  text-decoration-thickness: 1px;
}

.dish {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.dish__img {
  width: 130px;
  border-radius: 10px;
  margin: 5px 5px;
}

.dish__img:hover {
  opacity: .3;
  transition: 1s;
  cursor: crosshair;
}

.name {
  margin-top: 2px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

.name:active {
  color: var(--text-active);
}

.detail {
  display: flex;
  width: 560px;
  height: max-content;
  justify-content: space-between;
  margin-left: 20px;
  color: var(--text-color);
}

.dish__description {
  position: absolute;
  width: 500px;
  bottom: 10px;
  color: black;
}

.price::before {
  content: "$";
}

.dotts {
  border-bottom: 2px dotted var(--decoration-color);
  flex-grow: 1;
  height: 1.1rem;
  margin: 0 5px 0 5px;
}