html {
  box-sizing: border-box;
  font-family: myriad-pro, sans-serif;
  background-color:rgb(187, 174, 174);
}

.container {
  background-color:white;
  width: 752px;
  margin: 0 auto;
}

.header {
  display: flex;
  height: 237px;
  background-color: #2D7053;
  padding-left: 37px;
  align-items: center;
}

.circle {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  background-color: white;
}

.list-menu {
  padding-top: 0px;
  list-style: none;
  color: white;
  font-size: 1.98em;
}

.burger-menu {
  margin-left: 249px;
}

.burger-line {
  width: 87px;
  height: 15px;
  background-color: white;
  margin-bottom: 13px;
  border-radius: 10px;
}

.main-image {
  background-color: rgb(0, 0, 0);
  height: 500px;
}

.main-image img {
  opacity: 0.7;
}

.btn-container {
  display: flex;
  width: 100%;
  margin-top: -18%;
  margin-left: 28%;
}

.btn {
  background-color: rgba(203, 146, 35);
  font-size: 1.329em;
  position: absolute;
  text-transform: uppercase;
  padding: 30px 46.5px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.main-block {
  margin: 79px 0 0 35px;
}

.main-block img {
  border-radius: 50%;
  max-height: 276px;
}

.doctor-info {
  display: flex;
}

.doctor-info__more {
  margin: 68px;
}

.subbtitle {
  font-size: 2.25em;
  font-weight: 500;
}

.more-infomation {
  font-size: 1.5em;
  padding-right: 30px;
}

.reasons-list {
  padding-left: 0px;
  margin-bottom: 40px;
}

.reasons-list__item {
  list-style-type: none;
  font-size: 1.5em;
}

.reasons-list__item:before {
  content: "- ";
}

.second-btn-container {
  display: flex;
  margin-bottom: 47px;
}

.btn-second {
  position: relative;
  margin: 0 auto;
}

.footer {
  display: flex;
  background-color:rgba(136, 136, 136, 1);
  height: 127px;
  padding: 29px 45px 0 35px;
  justify-content: space-between;
}

.circle-second {
  width: 99px;
  height: 99px;
}

.information {
  text-align: right;
  color: white;
  font-size: 1.125em;
}

.information p {
  margin-left: 38px;
}

.information-adress {
  display: flex;
}
