* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --blue-color: rgba(76, 177, 202, 1);
  --white-color: white;
  --mini-icon-color: rgba(125, 177, 34, 1);
  --text-main-header-color: #656565;
  --footer-bottom-color: rgba(11, 75, 90, 1);
}

h1,h2,h3,p {
  font-family: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

/* HEADER */

.top-header {
  height: 45px;
  background-color: var(--blue-color);
}

.top-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.top-header__config-item {
  background-color: transparent;
  border: none;
  color: var(--white-color);
  text-align: center;
}

.top-header__config {
  color:#BEF2FF;
}

.top-header__menu-link {
  text-decoration: none;
  font-size: .8rem;
  color: var(--white-color);
  margin: 0 0 0 30px;
}

.top-header__menu-link::before {
  content: '|';
  color: var(--white-color);
  position: absolute;
  height: .8rem;
  margin: 0 0 0 -21px;
}

.top-header__menu-link:nth-child(1)::before {
  content: none;
}

.icon {
  margin: 0 59px 0 0 !important;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0 28px 0;
}

.main-header__menu {
  display: flex;
  align-items:center;
}

.main-header__items {
  display: flex;
}

.main-header__item {
  font-size: .9rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin: 0 0 0 20px ;
  color: var(--text-main-header-color);

}

.right-header {
  display: flex;
  align-items: center;
}

.right-header__search {
  height: 1.7rem;
  margin: 0 11px 0 0;
  padding: 5px 5px 5px 8px;
  background: url(../img/icon-search.png) no-repeat;
  background-position: 155px;
  font-size: .9rem;
  width: 177px;
  border-color: rgba(198, 198, 198, 1);
  color: rgba(198, 198, 198, 1);
}

.right-header__mini-icon {
  background-color: var(--mini-icon-color);
  padding: 10px 10px 6px 10px;
  margin: 0 5px 0 0;
  border-radius: 50%;
}

.right-header__cart {
  margin: 0 0 0 12px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: .9rem;
  color: var(--text-main-header-color);
}

/* MAIN BLOCK */

.slider__img {
  position: relative;
  display: flex;
  align-items:center;
  background: linear-gradient(rgb(0, 0, 0, .5), rgb(0,0,0, .5)), url(../img/main-slider.jpg) no-repeat;
  background-size: cover;
  background-position: right;
  height: 475px;
}

.slider-title {
  width: max-content;
}

.slider-title__text {
  font-size: 1.65rem;
  width: fit-content;
  text-transform: uppercase;
  color: var(--white-color);
  padding: 10px;
  margin: 0 0 0 47px;
}

.text__first {
  font-weight: 400;
  background-color:rgb(97, 97, 97, .8);
  margin-bottom: 3px;
}

.text__second {
  background-color:rgb(97, 97, 97, .8);
}

.navigation {
  display: flex;
  align-items:center;
}

.left-arrow {
  position: absolute;
  padding: 20px 47px 19px 25px;
  border-radius: 50%;
  background-color: var(--white-color);
  width: 15px;
  left: 365px;
}

.right-arrow {
  position: absolute;
  padding: 20px 45px 19px 25px;
  border-radius: 50%;
  background-color: var(--white-color);
  width: 15px;
  right: 365px;
}

.arrow:hover {
  opacity: .7;
  transition: .7s;
  cursor: pointer;
}

/* PRODUCT */

.wrapper-products {
  position: relative;
}

.glasses-items {
  display: flex;
  max-width: 765px;
  justify-content: space-between;
}

.title-1 {
  color: var(--text-main-header-color);
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 25px 0 0 0;
  width: 100%;
}

.glasses-item {
  width: 240px;
  position: relative;
  margin: 20px 0px 0 0;
  min-height: 321px;
  border: 1px solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius: 3px;
  padding: 5px 5px 10px 5px;
  box-shadow:0px 0px 2px 2px rgba(99, 95, 95, 0.1);
}

.galsses-item__new-product {
  position: absolute;
  border-bottom: 45px solid var(--blue-color);
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  width: 150px;
  text-align: center;
  transform: rotate(45deg);
  right: -41px;
  top: 13px
}

.gasses-item__new-product-text {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 12px;
  text-transform: uppercase;
  color: var(--white-color);
}

.galsses-item__sale-product {
  position: absolute;
  border-bottom: 45px solid var(--mini-icon-color);
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  width: 150px;
  text-align: center;
  transform: rotate(-45deg);
  left: -41px;
  top: 13px
}

.gasses-item__sale-product-text {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 12px;
  text-transform: uppercase;
  color: var(--white-color);
}

.glasses-item__information {
  margin: 15px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.glasses-item__img-wrapper {
  height: 252px;
  padding: 30px 2px 30px 2px;
  box-shadow:0px 0px 2px 2px rgba(99, 95, 95, 0.1);
}

.glasses-item__img {
  width: 100%;
}

.glasses-item__icon {
  width: 45px;
  border-radius: 50%;
  background-color: var(--mini-icon-color);
  padding: 10px;
}

.glasses-item__description {
  font-size: .9rem;
  margin-right: 13px;
}

.glasses-item__price {
  font-size: 1rem;
  color: var(--mini-icon-color);
}

.glasses-item__price::before {
  content: '$';
}

.right-sidebar {
  border-top: solid 4px;
  border-color: var(--blue-color);
  width: 230px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  right: 0;
  top: 0;
}

.mini-slider {
  box-shadow:0px 0px 2px 1px rgba(99, 95, 95, 0.1);
}

.mini-slider__img {
  width: 92%;
  margin: 0 0 10px 10px;
}

.mini-slider__text {
  text-align: center;
  width: 100%;
  padding: 0 40px;
  margin: 0 0 20px 0;
}

.mini-slider__button {
  position: absolute;
  left: 46px;
  top: 341px;
  color: var(--white-color);
  padding: 19px 27px 17px 28px;
  background-color: var(--blue-color);
  font-size: .875rem;
  border: none;
}

.mini-slider__navigation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  box-shadow:0px 0px 2px 1px rgba(99, 95, 95, 0.1);
  height: 44px;
}

.mini-slider__dotts {
  background-color: var(--mini-icon-color);
  width: 12px;
  height: 12px;
  margin-right: 9px;
  border-radius: 50%;
}

.active-dotts {
  background-color: var(--blue-color);
}

.newsletters {
  text-align: center;
  padding: 0 25px 0 25px;
  margin: 28px 0 0 0;
  box-shadow:0px 0px 2px 2px rgba(99, 95, 95, 0.1);
}

.newsletters__text {
  text-align: center;
  margin-bottom: 23px;
}

.newsletters__description {
  font-size: 0.875rem;
  text-align: center;
  max-width: 187px;
  color: var(--text-main-header-color);
  margin-bottom: 24px;
}

.newsletters__btn {
  padding: 19px 25px 17px 26px;
  text-transform: capitalize;
  background-color: var(--mini-icon-color);
  color: var(--white-color);
  border: none;
  margin: 15px 0 31px 0;
}

/* FOOTER */

.top-footer {
  background-color: rgb(57, 160, 185);
}

.top-footer__wrapper {
  display: flex;
  height: 108px;
  align-items:center;
}

.top-footer__about-us {
  display: flex;
  width: 50%;
}

.top-footer__icon-wrapper {
  background-color:white;
  width: 74px;
  padding: 20px;
  border-radius: 50%;
}

.phone {
  width: 67px;
}

.top-footer__description {
  margin: 27px 0 0 20px;
  text-transform: uppercase;
  color: var(--white-color);
  letter-spacing: .7px;
  font-size: 1.3rem;
}

.center-footer {
  background-color:var(--blue-color);
  height: 335px;
}

.ceter-footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-weight: 300;
  color: var(--white-color);
}

.footer-members {
  font-size: .86rem;
  color: var(--white-color);
  margin: 25px 0 5px 0;
}

.footer-facebook__photo-users {
  margin-top: 5px;
  width: 243px;
  border-top: solid 1px var(--white-color);
  border-bottom: solid 1px var(--white-color);
  padding-top: 11px;
}

.facebook__photo-user {
  margin: 0 11px 9px 0;
}

.facebook__photo-user:nth-child(4) {
  margin-right: 0;
}
.facebook__photo-user:nth-child(8) {
  margin-right: 0;
}

.footer__twitter {
  max-width: 223px;
}

.tweet_text {
  font-size: .83rem;
  color: var(--white-color);
}

.footer-twitter__tweet {
  margin-top: 35px;
  display: flex;
}

.footer-twitter__img-wrapper {
  background-color:var(--white-color);
  height: 46px;
  border-radius: 50%;
  padding: 15px 12px 14px 14px;
  margin-right: 10px;
}

.footer-information__list {
  margin-top: 35px;
}

.footer-information__item {
  position: relative;
  list-style: '>';
  padding-left: 10px;
  margin-left: 10px;
  color: var(--white-color);
  font-size: .9rem;
  margin-bottom: 10px;
}

.footer-contact-us__item {
  list-style: none;
  font-size: .9rem;
  color: var(--white-color);
  margin-bottom: 10px;
}

.footer__social-medias {
  display: flex;
  width: 199px;
}

.footer__social-items {
  height: 39px;
  background-color: var(--white-color);
  margin-right: 10px;
  padding: 13px 9px 9px 12px;
  border-radius: 50%;
}

.facebook-item {
  padding: 11px 15px 10px 15px;
}

.footer-bottom {
  background-color: var(--footer-bottom-color);
}

.footer-bottom__wrapper{
  height: 67px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.copyright {
  color: #8ADCF0;
}

.footer-link {
  color: #8ADCF0 !important;
}

.footer-link::before {
  color: #8ADCF0 !important;
}
