:root {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

:root {
  --black-background-color: #131210;
  --blue-color: rgba(19, 94, 197, 1);
  --main-text-color: #1b1a17;
}

header {
  background-color: var(--black-background-color);
  padding: 0 10px 0 10px;
}

button:hover {
  opacity: .7;
  transition: 1s;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
}

.header__contact {
  display: flex;
  align-items:center;
}

.header__contact-info {
  display: flex;
}

.contact-info__item {
  display: flex;
}

.header__contact-img {
  text-align: center;
  padding: 5px 0 0 25px;
}

.header__contact-img img {
  width: 36px;
}

.header__contact-text {
  color: white;
  height: max-content;
  padding: 10px;
  font-size: 1.1em;
}

.button-1 {
  text-transform: uppercase;
  color: var(--blue-color);
  border: none;
  border-radius: 60px;
  background-color: white;
  font-weight: 700;
}

.header__login {
  padding: 20px 30px;
  margin: 0 0 0 40px;
  font-size: 1rem;
}

/* SLIDER SECTION */

.search-car {
  background: var(--black-background-color);
}

.search-car__content {
  display: flex;
  justify-content: center;
  position: relative;
}

.search-car__img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 180px 0 0 0;
  z-index: 100;
}

.main-title {
  font-size: 6rem;
  text-transform: uppercase;
  width: 100%;
  top: 60px;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  color: var(--main-text-color);
}

.main-title__words {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
  align-items:center;
  max-height: 40px;
}

.second {
  margin: 0 0 0 80px;
}

.slider-navigation__wrapper {
  width: 12px;
  height: 100%;
  position: absolute;
  right: 60px;
  top: 0;
  display: flex;
  align-items:center;
}

.slider-navigation {
  width: 100%;
  height: 56px;
  display: flex;
  flex-wrap: wrap;
}

.slider-navigation__dotts {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-text-color);
}

.active-slide {
  background-color: var(--blue-color);
}

.search-car__form-wrapper {
  width: 100%;
  text-align: center;
  padding: 0 10px 0 10px;
}

.search-form__title {
  margin: 50px 0 50px 0;
  color: white;
}

.search-car__form {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 0 40px 0;
}

.search-form__item-input {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--main-text-color);
  margin:0 30px 30px 0;
}



.button-2 {
  background-color: var(--blue-color);
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 700;
}

.search-form__button {
  padding: 20px 60px;
}

.car-slider {
  border-bottom:1px solid rgba(0,0,0, .1);
  text-align: center;
  margin: 0 0 20px 0;
  padding: 0 10px 40px 10px;
}

.car-slider__title {
  color: var(--main-text-color);
  opacity: .5;
  font-size: 1rem;
  margin: 50px 0 50px 0;
}

.car-slider__items {
  display: flex;
  justify-content: space-between;
}

.car-slider__arrow {
  display: none;
}

.car-article__wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  padding: 40px 20px;
}

.car-article__descriprion {
  max-width: 792px;
  padding: 0 90px 0 90px;
}

.car-article__img {
  max-width: 740px;
}

.description__title {
  font-size: 3rem;
  color: var(--blue-color);
  font-weight: 800;
  margin: 0 0 60px 0;
}

.descriprion__text {
  color: rgba(0,0,0, .5);
  line-height: 3rem;
  margin: 0 0 60px 0;
}

.description__button {
  padding: 12px 22px;
  font-weight: 700;
}

/* ANNOUNCMENT SECTION */

.car-announcment__wrapper {
  display: block;
}

.car-announcment__title-wrapper {
  padding: 150px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--blue-color);
}

.car-announcment__title {
  width: 100%;
  text-align: center;
  margin-bottom: 70px;
  color: white;
  font-size: 3.7rem;
}

.car-announcment__btn {
  border: 1px solid white;
  padding: 12px 42px;
}

.car-announcment__btn:hover {
  background-color: white;
  color: var(--blue-color);
}

.car-announcment__image-wrapper {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, var(--blue-color) 50%, white 51%);
}

/* ORDER CAR SECTION */

.order-car {
  padding: 50px 20px;
  margin-bottom: 80px;
}

.order-car__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-car__left-cart {
  max-height: 571px;
  max-width: 451px;
  box-shadow: 0px 0px 20px rgba(206, 198, 198, 0.219);
  margin: 0 20px 30px 0 ;
}

.left-cart__img-wrapper {
  position: relative;
  background: linear-gradient(to bottom, var(--blue-color) 65%, white 65.1%);
  padding: 39px 0px;
}

.cart__btn-fresh {
  position: absolute;
  top: 20px;
  right: 25px;
}

.left-cart__img-title {
  opacity: .1;
}
.left-cart__img-title img {
  max-width: 100%;
}

.left-cart__img-car {
  margin: -25px 0 0 0;
  display: flex;
  justify-content: center;
}

.left-cart__text {
  text-align: center;
}

.left-cart__text-title {
  color: black;
}

.cart__text-title {
  font-size: 1.5rem;
  font-weight: 800;
}

.left-cart__text-type {
  margin: 5px 0 25px 0;
  font-size: .8rem;
  color:var(--blue-color);
  font-weight: 700;
}

.left-cart__text-characteristics {
  font-size: .8rem;
  color: grey;
}

.left-cart__add-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0 20px 0;
}

.price {
  color: green;
  font-size: 1.2rem;
  font-weight: 700;
}

.price::after {
  content: "$";
}

.left-cart__more-info {
  background-color: rgb(206, 205, 205);
  padding: 10px 30px;
}

.right-cart {
  position: relative;
  max-width: 953px;
  height: 656px;
  box-shadow: 0px 0px 20px rgba(206, 198, 198, 0.219);
  display: flex;
}

.right-cart__text-type {
  color: #C1C1C1;
  font-size: .8rem;
  font-weight: 800;
}

.right-cart__description {
  margin: 100px 0 0 0;
  padding: 0 60px 0 60px;
}

.right-cart__title {
  margin: 0 0 48px 0;
  font-size: 1.7rem;
  color: var(--blue-color);
}

.right-cart__text {
  margin: 0 0 40px 0;
  line-height: 40px;
  color:#C1C1C1;
}

.right-cart__btn {
  padding: 15px 45px;
}

.right-cart__info {
  height: 100%;
  max-width: 50%;
}

.right-cart__add-info {
  display: flex;
  justify-content: space-between;
  padding: 62px 20px 0 60px;
  align-items: baseline;
}

.right-cart__price {
  margin-right: -35px;
  font-size: 1.7rem;
}

.right-cart__right-side {
  position: relative;
  display: flex;
  align-items: center;
  width: 600px;
  background-image: url(../image/main-img.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 130%;
}

.right-cart__navigation {
  position: absolute;
  width: 90%;
  height: 100%;
  z-index: -1;
  right: 0;
  background-color: var(--blue-color);
  display: flex;
  justify-content: center;
  align-items:flex-end;
  padding-bottom: 80px;
}

.cart__btn-fresh {
  padding: 7px 15px;
}

.active-cart {
  width: 13px !important;
  height: 13px !important;
  background-color: white !important;
}

.right-cart__navigation-dotts {
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-cart__navigation-dott {
  background-color: rgba(21, 80, 161, 1);
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

/* CHOISE TABLE */

.choise-table__wrapper {
  max-width: 1485px;
  margin: 0 auto;
  box-shadow: 0px 0px 20px rgba(206, 198, 198, 0.219);
}

.choise-table__top {
  padding: 80px 50px 0 50px;
}

.choise-car__main-params {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 70px;
  border-bottom: 1px solid rgb(216, 213, 213);
  margin-bottom: 50px;
}

.param-item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(216, 213, 213);
  font-weight: 800;
  padding: 0 0 15px 0;
  opacity: .5;
  margin-bottom: 20px;
}

.second-params {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0 50px 0;
}

.choise-table__button-hide {
  display: flex;
  justify-content: center;
}

.choise-table__button {
  padding: 10px 20px;
  border-radius: 30px 30px 0 0;
}

.choise-table__bottom {
  background-color: var(--blue-color);
}

.choise-table__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.choise-table__bottom {
  padding: 80px 50px 40px 50px;
  margin-bottom: 50px;
}

.bottom-param::placeholder {
  color: white;
}

.choise-table__bottom-button {
  display: flex;
  justify-content: center;
}

.choise-table__submit {
  padding: 10px 60px;
}

.active__param-item {
  opacity: 1;
}

@media screen and (max-width: 1460px) { 
  
  .right-cart__navigation {
    width: 250px;
  }

  .right-cart__right-side {
    width: 400px;
  }
}

@media screen and (max-width: 1320px) {
  .main-title {
    display: none;
  }

  .search-form__item {
    margin: 50px 50px 0 0;
  }

  .slider-navigation__wrapper {
    position: relative;
    right: 0;
    width: 66px;
    height: 12px;
    left: 50%;
    top: 40px;
    transform: translate(-50%);
  }

  .slider-navigation__dotts {
    margin-left: 10px;
  }
  .search-car__img-wrapper {
    margin: 50px 0 0 0;
  }

  .search-car__form {
    width: 95%;
    justify-content: center;
  }
  .car-article__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .right-cart__price {
    margin-right: 0;
  }
}

@media screen and (max-width: 1056px) { 
  .right-cart__navigation {
    width: 150px;
  }

  .right-cart__right-side {
    width: 280px;
  }
  .right-cart__info {
    max-width: 350px;
  }
  .param-item {
    width: 49%;
  }
}

@media screen and (max-width: 835px) {
  .search-car__main-img {
    width: 80%;
  }
  .header__contact-text {
    font-size: .8em;
  }
  .header__login {
    padding: 15px 19px;
    font-size: .8rem;
  }
  .search-car__form {
    width: 54%;
  }

  .car-slider__item {
    display: none;
  }

  .active-car {
    display: block;
  }

  .car-slider__items {
    justify-content: space-around;
    align-items: center;
  }
  .car-slider__arrow {
    display: block;
  }  
  .description__title {
    font-size: 2rem;
    margin: 30px 0 30px 0;
  }
  
  .descriprion__text {
    line-height: 2rem;
    margin: 0 0 60px 0;
  }
  .car-article__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .car-article__descriprion {
    padding: 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .car-announcment__title {
    font-size: 2rem;
  }
  .order-car__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .right-cart__right-side {
    right: 0;
  }
  .right-cart__text {
    line-height: 20px;
    color: #C1C1C1;
  }
  .right-cart__title {
    font-size: 1.2rem;
  }
  .right-cart__btn {
    font-size: .8rem;
  }
}

@media screen and (max-width: 580px) {
  .header__contact-info {
    display: block;
  }

  .header__login {
    padding: 15px 19px;
    font-size: .6rem;
    margin: 0 0 0 10px;
  }

  .header__contact-img img {
    width: 28px;
  }

  .header__contact-text {
    font-size: .6em;
  }
  .car-article__img {
    padding: 0;
  }
  .right-cart__info {
    width: 250px;
  }
  .right-cart__right-side {
    width: 200px;
  }
  .right-cart__description {
    margin: 60px 0 0 0;
    padding: 0 30px 0 30px;
  }
  .right-cart__add-info {
    padding: 30px 0 0 30px;
  }
  .right-cart__info {
    width: 200px;
  }
  .right-cart__add-info {
    flex-wrap: wrap;
    padding: 30px 0 0 5px;
  }
  .right-cart__description {
    margin: 0;
    padding: 0 5px 0 5px;
  }
  .param-item {
    width: 98%;
  }
}

@media screen and (max-width: 404px) {
  .right-cart__info {
    width: 145px;
  }
  .right-cart__right-side {
    width: 175px;
  }
}