.text-block {
  background-color: beige;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 90px;
}

.text-block__wrapper {
  width: 1200px;
}

.text-block__title {
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 35px 0 15px 0;
}

.text-block__p {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 26px;
  color: #373737;
  font-weight: 900;
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 30px;
}

.text-block__btn {
  padding: 16px 24px;
  text-transform: uppercase;
  background-color:rgb(7, 122, 69);
  border: none;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 3px;
}