:root {
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 0px 50px;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 6fr 1.5fr;
  background-image: url(../img/main-img.jpg);
  grid-template-areas: "header-logo . header-navigation"
  ". main-slider ." " . main-slider__navigation .";
  z-index: 12;
}

.header-logo {
  grid-area: header-logo;
  display: grid;
  align-content: center;
}

.letter {
  text-transform: uppercase;
  color: white;
}

.header-logo__first-letter {
  position: relative;
  font-size: 25px;
  letter-spacing: 1px;
  padding: 0 0 5px 0;
  margin: -10px 0 0 0;
}

.header-logo__first-letter::after {
  content: "transportation";
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  letter-spacing: 1px;
}

.header-navigation {
  grid-area: header-navigation;
  display: grid;
  grid-template-columns: 5fr .5fr 2fr;
  grid-column: end;
  align-content: center;
  padding: 0 20px;
  height: 80px;
  align-self: center;
}

.header-navigation__links {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-content: space-between;
}

.header-navigation__link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.header-navigation__search {
  width: 25px;
  display: grid;
  justify-self: center;
}

.header-navigation__button {
  background-color: transparent;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  border-color: white;
  padding: 5px 20px;
}

.header-navigation__button::after {
  content: '>';
  margin: 0 0 0 5px;
}

.header__main-slider {
  grid-area: main-slider;
}

.header-navigation__button::after {
  content: '>';
  margin: 0 0 0 5px;
}

.header-navigation__burger {
  display: none;
}

.header-navigtion__burger-links {
  display: none;
}

.burger-draw {
  position: relative;
  width: 30px;
  height: 15px;
  display: grid;
  align-content:center;
  justify-content: center;
  cursor: pointer;
}

.burger-draw__line {
  width: 30px;
  background-color: white;
  height: 1px;
  border-radius: 15px;
}

.burger-draw__line::after {
  position: absolute;
  content: "";
  width: 30px;
  bottom: 0;
  background-color: white;
  height: 1px;
  border-radius: 15px;
}

.burger-draw__line::before {
  position: absolute;
  content: "";
  width: 30px;
  top: 0;
  background-color: white;
  height: 1px;
}

.main-slider {
  width: 50%;
  grid-column: 2/6;
  padding-left: 50px;
  display: grid;
  align-content:center;
  max-height: 500px;
}

.main-slider__wrapper {
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.header-navigation__burger {
  display: none;
}

.main-slider__text-info {
  color: white;
}

.main-slider__subtitle {
  font-size: 20px;
  margin: 0 0 20px 0;
}

.main-slider__title-text {
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.main-slider__descr {
  font-size: 12px;
  max-width: 70%;
  margin: 10px 0 30px 0;
}

.main-slider-button {
  border: none;
  background-color: red;
  color: white;
  padding: 10px 28px;
  font-size: 15px;
  text-transform: uppercase;
}

.main-slider__navigation {
  grid-area: main-slider__navigation;
  grid-column: 1/6;
  display: grid;
  justify-content: center;
  padding: 20px 0px ;
}

.active-slide {
  font-size: 30px !important;
  color: red;
  margin-top: -5px;
}

.main-slider__quantity-slides::before {
  content:"/";
}

.arrow {
  color: white;
  text-decoration: none;
  padding: 3px 8px 0 8px ;
}

.main-slider__navigations-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 20px;
  width: 100px;
  color: white;
  justify-content: space-between;
  align-items: flex-start;
}

/**************************************TYPE-DELIVERY *******************************************/

.type-delivery {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas: ". delivery-items ."
                        ". delivery-bottom .";
  background: linear-gradient(rgba(128, 128, 128, 0.274), rgba(128, 128, 128, 0.274)), url(../img/world-pap.jpg);
}

.delivery__bottom-elements {
  grid-area: delivery-bottom;
}

.delivery__items {
  grid-area: delivery-items;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  justify-content: space-between;
  z-index: 10;
  position: relative;
  margin-top: -50px;
}

.type-delivery__item:last-child {
  justify-self: end;
}

.type-delivery__item:nth-child(2) {
  justify-self: center;
}

.type-delivery__item {
  max-width: 350px;
  background-color: white;
  margin-right: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.425);
}

.delivery-item__img {
  margin-bottom: 15px;
}

.delivery-item__text-information {
  padding: 25px 30px;
}

.delivery-item__title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.delivery-item__line {
  width: 35px;
  height: 2px;
  background-color: red;
  margin-bottom: 30px;
}

.delivery-item__descr {
  font-size: 12px;
}

.delivery__bottom-elements {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 30px 0;
}

.type-delivery__view-all-buttons-wrapper {
  display: grid;
  justify-items: end;
}

.type-delivery__view-all {
  background-color: transparent;
  text-transform: uppercase;
  border: none;
}

.type-delivery__view-all::after {
  content: ">";
  color: red;
}

.about-us {
  display: grid;
  grid-template-rows: 8fr 8fr;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: ". about-us-description ."
                       " . about-us-second-row .";
  padding: 0 50px 0 10px;
}

.about-us__descr {
  grid-area: about-us-description; 
  grid-row: 1/1;
  grid-column: 2/3;
  padding: 10px 0;
  display: grid;
  align-items:center;
}

.about-us__descr-text {
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  width: 99%;
}

.about-us__descr-text::after {
  content: "aaaaaaaa";
  display: flex;
  justify-content: center;
  text-decoration: underline red;
  color: transparent;
}

.about-us__second-row {
  grid-area: about-us-second-row;
  display: grid;
  grid-template-columns: 3fr 3fr;
  padding: 10px 0px;
  grid-row: 2/2;
  grid-column: 2/5;
  width: 99%;
}

.about-us__info {
  grid-area: about-us-info;
  grid-row: 2;
  grid-column: 1/2;
  padding: 10px 0px;
}

.info-text__title {
  text-transform: uppercase;
  font-size: 30px;
  margin: 0 0 30px 0;
}

.info-text__navigation {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 15px;
  max-width: 100%;
}

.info-text__navigation-text {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.397);
  max-width: 900px;
}

.navigation-text__item {
  text-transform: uppercase;
  padding: 0 0 20px 0;
}

.active-text__item {
  color: rgb(192, 0, 0);
  font-weight: 700;
  position: relative;
}

.info-text__descr {
  padding: 0px 40px 30px 0;
}

.info-text__par {
  opacity: .8;
  padding: 0 0 30px 0;
  font-size: 16px;
  line-height: 30px;
}

.navigation-text__item {
  position: relative;
}

.navigation-text__item::after {
  content:".";
  font-size: 43px;
  display: flex;
  position: absolute;
  width: 97px;
  justify-content: center;
  top: 0;
}

.navigation-text__item:nth-child(3) {
  width: max-content;
}

.info-text__button {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  font-weight: 700;
}

.info-text__button::after {
  content: ">";
  color: red;
  margin-left: 8px;
}

.about-us__imgs {
  grid-area: about-us-images;
  grid-row: 2;
  grid-column: 2/3;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-items: center;
  gap: 20px;
}

.about-us__img-item {
  height: 100%;
}

/******************************** TRANSPORTATION SERVICE *************************************/

.transportation-service {
  background: linear-gradient(to bottom, rgba(6, 0, 29, 0.322) 60%, white 60%), url(../img/main-img.jpg);
  background-position: top;
  background-repeat: no-repeat;
}

.transportation-service__wrapper {
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.service-text {
  text-align: center;
  padding: 100px 0 50px 0;
  color: white;
  grid-column: 1/8;
}

.service-subtitle {
  font-size: 14px;
}

.service-title {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 0 50px 0;
  letter-spacing: .3px;
}

.service-title:after {
  content: "aaaaaa";
  display: flex;
  justify-content: center;
  text-decoration: underline red;
  color: transparent;
}

.service-video {
  grid-column: 2/3;
}

.service-video__item {
  width: 90%;
  height: 600px;
}

/*********************** CHOOSE SECTION ***********************/

.choose__wrapper {
  display: grid;
  grid-template-columns: 3fr 3fr;
  padding: 30px 50px 0 50px;
  width: 94%;
}

.left-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.right-side {
  padding: 0 0 0 20px;
}

.right-side__descr:after {
  content: "aaaaaaaaaaaaaaa";
  display: flex;
  justify-content: start;
  text-decoration: underline 2px red;
  color: transparent;
}

.right-side__all-benefits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 60px;
}

.right-side__benefits::before {
  content: ">";
  color: red;
  font-weight: 800;
  margin-right: 10px;
}

/******************************** FAQ *************************************/

.faq {
  padding: 120px 40px;
  margin: 90px 0 0 0;
  background-color: rgb(211, 211, 211);
}

.faq__wrapper {
  max-width: 1523px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "faq-left faq-right";
  gap: 20px;
}

.faq-title {
  text-transform: uppercase;
  margin-bottom: 100px;
}

.faq__left {
  grid-area: faq-left;
  display: grid;
  grid-template-rows: repeat(4, max-content);
}

.left__questions {
  font-size: 19px;
  padding: 10px 0;
}

.left__questions-title {
  margin: 30px 0 30px -30px;
}

.active-question {
  color: red;
  margin-left: -30px;
}

.left__questions-title::before {
  content: "+";
  margin-right: 20px;
}

.active-question::before {
  content: "-";
  margin-right: 20px;
}

.left__questions::after {
  content: "";
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid rgb(185, 181, 181);
  width: 60%;
}

.faq__right {
  grid-area: faq-right;
}

.right__people-saying {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: .8fr .8fr;
  gap: 30px;
}

.right__photo {
  max-width: 60%;
  border: 1px solid black;
  border-radius: 50%;
}

.human-info {
  display: grid;
  align-content: center;
}

.right__name {
  text-transform: uppercase;
  color: red;
  font-weight: 700;
  letter-spacing: 1px;
}

.right__job {
  opacity: .6;
}

.right__speech {
  grid-column: 1/3;
}

/******************************** MARVIS *************************************/

.red {
  background-color: red;
}

.red__wrapper {
  max-width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 20px;
}

.red__text {
  color: white;
}

.red__title {
  text-transform: uppercase;
  font-size: 30px;
}

.red-button__wrapper {
  display: grid;
  justify-items: center;
  align-content: center;
}

.red__btn {
  padding: 20px 70px;
  text-transform: uppercase;
  background-color: rgb(36, 35, 35);
  color: white;
  border: none;
}

/*************** FOOTER ***************/

.footer {
  background-color:rgb(36, 35, 35);
  color: white;
}

.footer__wrapper {
  max-width: 1583px;
  padding: 80px 20px 20px 20px;
  grid-template-rows: auto 1fr;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__logo {
  margin-bottom: 50px;
}

.footer__text-under-logo {
  width: 70%;
  margin-bottom: 50px;
}

.footer__soocial-items {
  display: grid;
  grid-template-columns: repeat(5, .1fr);
}

.social-item {
  background-color: rgb(37, 34, 34);
  padding: 10px;
  border-radius: 50%;
}

.contacts {
  color: white;
  display: flex;
  text-align: center;
  grid-column: 1/4;
  gap: 100px;
  justify-content: center;
  border-top: 1px solid grey;
  padding: 50px 0;
}

.contacts-item::before {
  content: "*";
  color: red;
  margin-right: 20px;
}

.social-item:hover {
  background-color: red;
  transition: all .8s;
}

.footer-column2__nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer__nav-item {
  padding: 10px 0 10px 0;
  text-decoration: none;
  color: white;
}

.footer__nav-item:hover {
  color: red;
  transition: all .7s;
}

.footer-post {
  padding: 20px 0 20px 0;
}

.footer-post__title:hover {
  color: red;
  transition: all .7s;
}

.column__title {
  text-transform: uppercase;
}

.footer-post__date {
  color: gray;
}

.tittle-2::after {
  content: "aaaaaaaaaa";
  display: flex;
  justify-content: start;
  text-decoration: underline 2px red;
  color: transparent;
}

.footer__bottom {
  text-align: center;
  padding: 20px;
  background-color: black;
  color: rgb(138, 138, 138);
}

.footer__bottom span {
  color: white;
}

button :hover {
  opacity: .7;
  transition: all .8s;
}

@media screen and (max-width: 1280px) {
  .about-us__imgs {
    grid-template-columns: 1fr;
  }

  .about-us {
    grid-template-rows: 1fr;
    margin-top: 50px;
  }

  .about-us__second-row {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column: 2/5;
    width: 99%;
  }

  .about-us__imgs {
    grid-row: 3;
    grid-column: 1/3;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-items: center;
    gap: 20px;
  }
}

@media screen and (max-width: 1080px) {

  .header-navigation {
    font-size: 12px;
  }
  .header-navigation__button {
    font-size: 12px;
    padding: 3px 16px;
  }

  .header {
    padding: 0 10px 0 10px;
  }

  .main-slider {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .navigation-text__item  {
    font-size: 15px;
  }

  .left-side {
    grid-template-columns: 1fr;
  }

  .right-side__all-benefits {
    grid-template-columns: 1fr;
  }

  .red__wrapper {
    max-width: 90%;
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
  }

}

@media screen and (max-width: 850px) {


  .header-navigation__links, .header-navigation__search, .header-navigation__button {
    display: none;
  }

  .header-navigation__burger {
    display: grid;
    align-items: center;
  }

  .main-slider {
    margin-top: 50px;
    padding: 0 20px;
    grid-column: 1/6;
  }

  .main-slider__title-text {
    font-size: 40px;
    line-height: 45px;
  }

  .delivery__items {
    grid-template-columns: repeat(1, 1fr);
  }

  .type-delivery__item {
    justify-self: center;
    margin-bottom: 15px;
  }

  .type-delivery__item:last-child {
    justify-self: center;
  }
  .about-us__descr-text {
    font-size: 15px;
  }

  .navigation-text__item {
    font-size: 11px;
  }
  .navigation-text__item::after {
    top: -5px;
    width: 86px;
  }
  .service-video__item {
    height: 300px;
  }
  .faq__wrapper {
    grid-template-areas: "faq-left"
                         "faq-right";
    gap:100px ;
  }
  .faq-title {
    text-align: center;
  }

  .footer-column2__nav {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 550px) {
  .choose__wrapper {
    grid-template-columns: 1fr;
  }
  .footer__wrapper {
    display: block;
  }
  .contacts {
    display: block;
  }
}